<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>Status do Login</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <h1><%= mensagem %></h1>
  <a href="/">Voltar para Projetos</a>
</body>
</html>