html,body {
	background: #1ba11a url(/semester_1/full_stack_programming/exercises/3-copying_a_template/img/tile.png) top left repeat;
	font-family: Comic Sans,Comic Sans MS,cursive;
	margin: 0;
	padding: 0;
}