a:hover{
    color:red;
}

p{
    color:blueviolet;
    font: 14pt;
    font-family: 'Times New Roman', Times, serif  ;
}

/*h4{
    color:black;
    font: 14pt;
    font-family: 'Times New Roman', Times, serif ;
}*/

.azul{
    color: blue;
    font: 17pt;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#mapas{

    height: 100px;
    width: 300px;
    background-color: grey;
    color: black;
    margin-top: 10pt;
    margin-bottom: 30pt;
    margin-left: auto;
    margin-right: auto;
    border: 2px dashed rec;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-left: 100px;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
#canvas{
    background-color: white;
    border: solid 1px blue;
}