.container {
    width: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
canvas {
    border: 1px solid black; 
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 236, 179)
}